<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GoogleChrome.png</key>
	<string>d01c9ca832a5ace10503b010961532664626df0f1bd86320116b7beb93b3e27c</string>
</dict>
</plist>
